@font-face {
  font-family: 'iconfont';  /* project id 647219 */
  src: url('//at.alicdn.com/t/font_647219_u2mh638xhbinewmi.eot');
  src: url('//at.alicdn.com/t/font_647219_u2mh638xhbinewmi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_647219_u2mh638xhbinewmi.woff') format('woff'),
  url('//at.alicdn.com/t/font_647219_u2mh638xhbinewmi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_647219_u2mh638xhbinewmi.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:14px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
}

.icon,
.icon:before{
  display: inline-block;
  line-height: 1;
}
.icon:before{
  font-family: "iconfont";
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$iconfont: (
        user: '\e603',
        headerset: '\e630',
        vadio: '\e612',
        good: '\e609',
        vip: '\e617',
        money: '\e600',
        start: '\e657',
        music:'\e601',
        music1: '\e62f',
        music2: '\e62c',
        music3: '\e77b',
        record: '\e636',
        cancel: '\e62a',
        station: '\e635',
        search: '\e61a',
        col-list: '\e64d',
        share: '\e648',
        arrow-dr: '\e765',
        arrow-dl: '\e602',
        arrow-r: '\e64a',
        arrow-l: '\e6a5',
        arrow-t: '\e62d',
        arrow-b: '\e62e',
        arrow-sb: '\e605',
        arrow-st: '\e608',
        trumpet: '\e610',
        add-list: '\e642',
        open-menu: '\e624',
        close-menu: '\e622',
        menu: '\e67c',
        love: '\e658',
        radio: '\e637',
        tri-l: '\e792',
        tri-d: '\e791',
        tri-r: '\e790',
        tri-u: '\e78f',
        download: '\e632',
        comment: '\e6ad',
        rank: '\e7bd'
);

@each $key, $val in $iconfont {//'/images/#{$animal}.png'
  .icon-#{$key}:before{
    content: '#{$val}';
  }
};