@import "styles/varible.scss";
.comment-compontent{
  .hot-comments, .comments {
    &.hot-comments {
      .comment-list {
        li {
          &:last-of-type {
            .cmt-wrap {
              border-bottom: none;
            }
          }
        }
      }
    }
    .comment-list {
      li {
        padding-top: 10px;
        width: 100%;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        .cmt-head {
          height: 35px;
          margin: 0 10px;
          -webkit-box-flex: 0;
          flex: none;
          .photo {
            position: relative;
            display: block;
            color: #507daf;
            img {
              display: block;
              border-radius: 50%;
              width: 30px;
              height: 30px;
            }
          }
        }
        .cmt-wrap {
          padding-right: 10px;
          padding-bottom: 11px;
          padding-left: 0;
          -webkit-box-flex: 1;
          flex: auto;
          width: 0;
          position: relative;
          border-bottom: 1px solid $border_color;
          .cmt-header {
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            flex-direction: row;
            .cmt-meta {
              -webkit-box-flex: 1;
              flex: auto;
              width: 0;
              font-size: 0;
              .cmt-user {
                max-width: 100%;
                display: inline-flex;
                a {
                  font-size: 14px;
                  color: #666;
                  line-height: 20px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  -webkit-box-flex: 1;
                  flex: auto;
                }
              }
              .cmt-time {
                font-size: 9px;
                color: #999;
              }
              .cmt-like {
                width: 65px;
                height: 22px;
                line-height: 22px;
                font-size: 11px;
                color: #999;
                -webkit-box-flex: 0;
                flex: none;
                text-align: right;
                vertical-align: baseline;
                .cmt-likearea {
                  padding-left: 5px;
                }
              }
            }
          }
          .cmt-content {
            color: #333;
            font-size: 15px;
            line-height: 22px;
            margin-top: 5px;
            .cmt-text {
              vertical-align: middle;
              a{
                color: #507daf;
              }
            }
          }
          .cmt-replay{
            margin: 5px 0;
            padding: 10px;
            color: #888;
            font-size: 14px;
            line-height: 21px;
            border: 1px solid $border_color;
          }
        }
      }
    }
  }
  .comment-more {
    margin-left: 50px;
    position: relative;
    .box {
      display: block;
      margin-right: 50px;
      padding: 18px 0;
      font-size: 14px;
      color: #999;
      text-align: center;
      line-height: 1;
    }
  }
}