@import "styles/varible.scss";
.page.ranking-detail {
  background: #fbfcfd;
  position: relative;
  height: 100%;
  overflow-y: auto;
  .title{
    margin: 10px 0;
    font-size: 16px;
  }
  >div.ranking-detail-content{
    height: 100%;
    .top{
      position: relative;
      height: 170px;
      overflow: hidden;
      padding: 10px;
      color: hsla(0,0%,100%,.8);
      .wrap{
        display: flex;
        position: relative;
        margin-bottom: 10px;
        .fl{
          position: relative;
          width:106px;
          height: 106px;
          background-color: #e2e2e3;
          .fl-img{
            width: 100%;
            height: 100%;
          }
          .count{
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 50%;
            background: linear-gradient(-180deg,rgba(0,0,0,.2) 1%,transparent);
            line-height: 14px;
            color: #fff;
            font-size: 11px;
            .num{
              position: absolute;
              top: 4px;
              right: 3px;
              padding-left: 16px;
              background-size: 12px 9px;
              background-position: 0 2px;
              background-repeat: no-repeat;
              text-shadow: 0 1px 0 rgba(0,0,0,.15);
            }
          }
        }
        .fr{
          -webkit-box-flex: 1;
          margin-left: 16px;
          color: hsla(0,0%,100%,.5);
          flex: 1 1 auto;
          width: 1%;
          .fr-title{
            padding-top: 1px;
            font-size: 16px;
            height:30px;
            line-height: 30px;
            color: #fefefe;
            display: -webkit-box;
            -webkit-box-pack: center;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          .update-time{
            font-size: 12px;
          }
          .fr-user{
            display: block;
            position: relative;
            margin-top: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: normal;
            a{
              display: inline-block;
              color: hsla(0,0%,100%,.7);
              .user-img{
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                vertical-align: middle;
                margin-right: 5px;
                img{
                  border-radius: 50%;
                  width:100%;
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }
      .footer{
        display: flex;
        justify-content: space-around;
        text-align: center;
        .iconfont{
          color:#fff;
        }
        p{
          margin-top: 6px;
        }
      }
    }
    .title{
      height: 28px;
      line-height: 28px;
      padding: 0 10px;
      font-size: 12px;
      color: #666;
      background-color: #eeeff0;
    }
    .f-brk {
      word-wrap: break-word;
      word-break: break-all;
      white-space: normal;
    }
    .songs-list{
      li{
        display: flex;
        position: relative;
        .hidden-a{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: block;
          width: 100%;
          height: 100%;
        }
        &:first-of-type,&:nth-of-type(2),&:nth-of-type(3) {
          .li-num{
            color:#df3436;
          }
        }
        &:last-of-type{
          .li-wrap{
            border-bottom: none;
          }
        }
        .li-num{
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          width: 40px;
          font-size: 17px;
          color: #999;
        }
        .li-wrap{
          display: flex;
          flex: 1 1 auto;
          position: relative;
          border-bottom: 1px solid $border_color;
          .fl{
            padding: 6px 0;
            width: 0;
            -webkit-box-flex: 1;
            flex: 1 1 auto;
            .song-name{
              font-size: 17px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              word-break: normal;
              .sgalia{
                color: #888;
                margin-left: 4px;
              }
            }
            .song-info{
              font-size: 12px;
              color: #888;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              word-break: normal;
            }
          }
          .fr{
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            padding: 0 10px;
            .iconfont{
              margin: 0 10px;
              font-size: 18px;
              color: #ccc;
            }
          }
        }
      }
    }
  }

}